/*
 
Variables
 
*/
:root {
    /* Colors */
    --color-orange-100: #fce0d3;
    --color-orange-200: #fac1a7;
    --color-orange-300: #f7a37a;
    --color-orange-400: #f5844e;
    --color-orange-500: #f26522;
    --color-orange-600: #c2511b;
    --color-orange-700: #913d14;
    --color-orange-800: #61280e;
    --color-orange-900: #301407;
    --color-blue-100: #e9f3fb;
    --color-blue-200: #a8d1ed;
    --color-blue-300: #7db9e4;
    --color-blue-400: #51a2db;
    --color-blue-500: #268bd2;
    --color-blue-600: #1e6fa8;
    --color-blue-700: #17537e;
    --color-blue-800: #0f3854;
    --color-blue-900: #081c2a;
    --color-gray-100: #d7d9dc;
    --color-gray-200: #afb3b9;
    --color-gray-300: #878d97;
    --color-gray-400: #5f6774;
    --color-gray-500: #374151;
    --color-gray-600: #2c3441;
    --color-gray-700: #212731;
    --color-gray-800: #161a20;
    --color-gray-900: #0b0d10;
    --color-yellow-100: #f7e4cd;
    --color-yellow-200: #efc89b;
    --color-yellow-300: #e8ad6a;
    --color-yellow-400: #e09138;
    --color-yellow-500: #d87606;
    --color-yellow-600: #ad5e05;
    --color-yellow-700: #824704;
    --color-yellow-800: #562f02;
    --color-yellow-900: #2b1801;
    /* Typography */
    --font-family-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --font-family-sans: "Avenir", var(--font-family-system); 
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.9rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.4rem;
    /* Buttons  */
    --button-background-color: var(--color-blue-900);
    --button-background-color-hover: var(--color-blue-500);
    --button-text-color: #fff;
    --button-text-color-hover: #fff;
    /* Vote Arrows */
    --votearrow-background-color: var(--button-background-color);
    --votearrow-background-color-hover: var(--button-background-color-hover);
    --votearrow-arrow-color: rgba(255 255 255 / 80%);
    --votearrow-arrow-color-hover: var(--button-text-color-hover);
    /* Layout */
    --footer-background-color: var(--color-gray-400);
    --header-background-color: var(--color-orange-700);
    --header-border-color: var(--color-orange-500);
    --header-border-size: 5px;
    /* Components */
    --comments-link-color: var(--color-blue-500);
    --comments-link-color-hover: var(--color-blue-400);
    --comments-link-color-visited: var(--color-blue-800);
    --ui-link-color: var(--color-blue-900);
    --ui-link-color-hover: var(--color-blue-900);
    --ui-link-font-size: var(--font-size-sm);
    --ui-link-underline-color: var(--color-blue-500);
}@font-face {
  font-family: Avenir;
  src: url("/vite/assets/35-light-_GPKMJBa.woff2") format("woff2"),
    url("/vite/assets/35-light-lKI4P3Yc.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url("/vite/assets/45-book-YsuRGIk5.woff2") format("woff2"),
    url("/vite/assets/45-book-e_G390gv.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url("/vite/assets/55-roman-yx5jv5v7.woff2") format("woff2"),
    url("/vite/assets/55-roman-mZoSBv07.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url("/vite/assets/65-medium-eGsjcntx.woff2") format("woff2"),
    url("/vite/assets/65-medium-yu4ohWxI.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url("/vite/assets/85-heavy-W-dsdGT9.woff2") format("woff2"),
    url("/vite/assets/85-heavy-kTxV5owS.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/** 

Basics

*/
html {
    background: var(--footer-background-color);
}

body {
    background: rgb(246, 246, 239);
    padding: 10% 40%;
    margin: 0;
    font-family: var(--font-family-sans);
}

td {
    font-family: var(--font-family-sans);
}

a {
    transition: all 0.3s;
}/** 

Layout

*/
html[op="x"] body,
html[op="newest"] body,
html[op="news"] body,
html[op="item"] body,
html[op="reply"] body,
html[op="jobs"] body,
html[op="show"] body,
html[op="ask"] body,
html[op="submit"] body,
html[op="user"] body,
html[op="submitted"] body,
html[op="favorites"] body,
html[op="threads"] body,
html[op="lists"] body,
html[op="hidden"] body,
html[op="newcomments"] body,
html[op="bestcomments"] body,
html[op="noobstories"] body,
html[op="noobcomments"] body,
html[op="leaders"] body,
html[op="front"] body,
html[op="best"] body,
html[op="active"] body,
html[op="upvoted"] body,
html[op="bestcomments"] body,
html[op="changepw"] body,
body[bgcolor="#ffffff"] {
    padding: 0;
}

#hnmain {
    width: 100%;
}

// If there is no footer, add a bottom border for a smoother transition.
#hnmain:not(:has(.yclinks)) {
    border-bottom: solid 10px #888;
}

#hnmain > tbody > tr:first-child > td {
    padding: 20px;
}

#hnmain > tbody > tr:first-child > td table td {
    vertical-align: top;
}

#hnmain > tbody > tr:nth-child(2) {
    height: 30px !important;
}

#hnmain > tbody > tr:nth-child(3) > td > table {
    max-width: 960px;
    margin: auto
}

@media (min-width: 960px) {
    #hnmain > tbody > tr:nth-child(3) > td > table {
        width: 960px;
    }

}/** 

Form Elements

*/
input[type="text"],
textarea,
select {
    background: #fff;
    font-size: 16px;
    font-family: var(--font-family-sans);
    ;
    border-radius: 3px;
    line-height: 1.5;
}

input[type="text"],
textarea {
    width: 100%;

    padding: 3px 6px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

textarea {
    height: 4.5em;
    margin: 0 0 10px;
}

select:active,
select:focus,
textarea:active,
textarea:focus,
input[type="text"]:active,
input[type="text"]:focus {
    box-shadow: none;
    border-color: var(--color-blue-500);
    outline: none;
}

textarea:active,
textarea:focus {
    height: 12em;
    transition: all 0.3s;
}

textarea + br + br {
    display: none;
}

input[type=submit] {
    background: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--font-family-sans);
    line-height: 1.25;
    padding: 7px 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

input[type=submit]:hover {
    background: var(--button-background-color-hover);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    color: var(--button-text-color-hover);
    transition: all 0.3s;
    transform: scale(1.05);
}/** 

Header

*/
.pagetop {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--font-family-sans);
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
    span.pagetop {
        margin: 0;
    }
}

#hnmain > tbody > tr:first-child td[bgcolor="#ff6600"] {
    background: var(--color-orange-700) !important;
    border-bottom: solid var(--header-border-size) var(--header-border-color);
}

#hnmain > tbody > tr:first-child td[bgcolor="#ff6600"] td:has(.pagetop) {
    vertical-align: middle;
}

a[href="https://news.ycombinator.com"]:has(img) {
    display: block;
    position: relative;
    top: -1px;
}

body:not([bgcolor="#ffffff"]) a[href="https://news.ycombinator.com"] img {
    box-sizing: border-box;
    background: url(/favicon.ico) no-repeat;
    background-size: contain;
    overflow: hidden;
    padding: 0 16px 0 0;
    width: 18px;
    margin-right: 10px;
    transform: scale(2);
}

a[href="https://news.ycombinator.com"]:hover img {
    filter: hue-rotate(-180deg);
    transform: scale(2.3);

}

.pagetop .hnname {
    display: inline-block;
    margin: 0 20px 0 5px;
    font-size: 16px;
}

.pagetop a,
.pagetop .hnname a,
.pagetop a:visited,
.pagetop .hnname a:visited {
    --underline-color: rgba(255 255 255 / 50%);
    
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: var(--underline-color);
    transition: all 0.25s;
}

.pagetop a:hover,
.pagetop .hnname a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--underline-color);
    text-decoration-thickness: 3px;
    transition: all 0.25s;
}

.pagetop:has(.hnname) a {
    font-weight: bold;
    text-transform: capitalize;
}

.pagetop a[href="newest"] {
    font-style: italic;
}

.pagetop:has(#logout) {
    align-items: center; 
    color: transparent;
    display: flex;
    justify-content: flex-end;
}

.pagetop #karma {
    align-items: center;
    background-color: rgba(255 255 255 / 95%);
    border-radius: 1em;
    color: var(--color-orange-700);
    display: flex;
    justify-content: center;
    height: 2ch;
    letter-spacing: 1px;
    line-height: 1;
    min-width: 2ch;
    padding: 0.1em;
}

.pagetop a[href^="login"],
.pagetop #logout {
    border: solid 1px #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 3px;
}

.pagetop a[href^="login"]:hover,
.pagetop #logout:hover {
    background: #fff;
    color: var(--color-orange-700) !important;
    text-decoration: none;
}/** 

Footer

*/
#hnmain > tbody > tr:has(.yclinks) {
    background: var(--footer-background-color);
    color: #fff;
}

#hnmain > tbody > tr:last-child img[src="s.gif"] + table td {
    background: #666;
    padding-top: 10px;
}

#hnmain > tbody > tr:has(.yclinks) > td {
    padding-bottom: 60px;
}

#hnmain > tbody > tr:has(.yclinks) a {
    color: #fff;
}

#hnmain > tbody > tr:has(.yclinks) form {
    color: #ddd;
    margin: 20px 0;
}

#hnmain > tbody > tr:has(.yclinks) input[name="q"] {
    background: #999;
    border: solid 1px #aaa;
    border-radius: 2px;
    padding: 4px 8px;
    font-family: var(--font-family-sans);
    width: 300px;
}

#hnmain > tbody > tr:has(.yclinks) input[name="q"]:focus,
#hnmain > tbody > tr:has(.yclinks) input[name="q"]:active {
    background: #bbb;
    border: solid 1px #09d1ef;
    box-shadow: none;
    outline: none;
    /* border-color: #fff; */
}/** 
    
    * Lead Text
    *
    * This appears at the top of the pages to describe the content.
    
    */
    #pagespace + tr > td > div {
        color: #555;
        font-size: 1rem;
        font-weight: 300;
        max-width: 960px;
        margin: 0 auto 3rem !important;
    }
    /** 
        
        * More Links
        
        */
    .morelink {
        background: var(--button-background-color);
        border-radius: 3px;
        color: var(--button-text-color) !important;
        font-size: 1rem;
        display: inline-block;
        margin: 1rem 0;
        padding: 0.5em 1.25em;
    }
    
    .morelink::after {
        content: '⟩';
        display: inline-block;
        font-weight: bold;
        margin-left: 0.5ch;
        transform: scaleX(1.5);
        transition: all 0.2s;
    }
    
    .morelink:hover {
        background: var(--button-background-color-hover);
        color: var(--button-text-color-hover) !important;
        transform: scale(1.05);
        transition: all 0.3s;
    }
    
    .morelink:hover::after {
        transform: scaleY(.75) scaleX(1.75) translateX(0.25ch);
        transition: all 0.5s;
    }/** 

Vote Arrows

*/
.athing .votearrow {
    margin-right: 16px;
    background: none;
}

.athing .votearrow::before {
    position: relative;
    top: -1px;
    left: -5px;

    background: var(--votearrow-background-color);
    box-sizing: border-box;
    content: '▴';
    color: var(--votearrow-arrow-color);
    display: inline-block;
    font-family: sans-serif;
    font-size: 36px;
    line-height: 0.4;
    height: 28px;
    width: 28px;
    padding: 7px 0 0;
    text-align: center;
    border-radius: 3px;
    transform: scale(0.8);
    transition: all 0.3s;
}

.athing .votearrow:hover::before {
    color: var(--votearrow-arrow-color-hover);
    background: var(--votearrow-background-color-hover);
    transform: scale(1.05);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

html[op=news] .athing .votearrow,
html[op=newest] .athing .votearrow,
html[op=front] .athing .votearrow {
    margin: -1px 16px 0 10px;
}/** 

UI Links
*
* These are the links under a submission and in the meta of a comment.
*
* TODO: Design a visited state since these are consumable content. 

**/
.subtext .subline a:link,
.comhead a:link {
    color: var(--ui-link-color);
    font-family: var(--font-family-sans);
    font-size: var(--ui-link-font-size);
}

.subtext .subline a:hover,
.comhead a:hover {
    color: #000;
    text-decoration-color: var(--color-blue-500);
    text-decoration-thickness: 2px;
}/** 

Comments

Examples:
- https://news.ycombinator.com/item?id=39560180 (code blocks and links)

*/
.comment-tree {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
    margin-bottom: 40px !important;
}

.comment-tree > tbody > tr:first-child > td {
    padding-top: 10px;
}

.comment {
    font-size: 15px;
    font-family: var(--font-family-sans);
    ;
    color: #555;
    display: inline-block;
    padding: 5px 20px 10px 0;
    line-height: 1.5;
}

.comment:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -5px 0 0 5px rgba(255, 255, 255, 0.9);
}

.comment-tree .votearrow {
    margin-right: 3px;
}

.comment-tree .votearrow::before {
    font-size: 24px;
    height: 18px;
    width: 18px;
    padding-top: 5px;
    top: -4px;
    border-radius: 2px;
}

.comhead a[href^="user?id"] {
    font-weight: bold;
}

.comhead .navs a.togg {
    display: inline-block;
    font-weight: 700;
    margin-left: 0.5ch;
}

.comhead .navs a.togg:hover {
    color: var(--ui-link-underline-color) !important;
    text-decoration: none;
}

.comment p {
    margin-top: 1em;
}

.comment a {
    color: var(--comments-link-color) !important;
    font-weight: bold;
}

.comment a:visited {
    color: var(--comments-link-color-visited) !important;
}

.comment a:hover {
    color: var(--comments-link-color-hover) !important;
}

.comment pre,
.comment code {
    font-family: var(--font-family-mono);
}

.comment pre {
    background: #f0f0f0;
    border: solid 1px #e0e0e0;
    padding: 20px 10px;
    width: 600px !important;
    max-width: 90% !important;
}

.reply p u {
    text-decoration: none;
}

.reply p a:link {
    color: var(--color-blue-900) !important;
    font-weight: bold;
    text-decoration: none;
}

.reply p a::before {
    content: '↪';
    display: inline-block;
    position: relative;
    top: 4px;

    font-size: 16px;
    font-weight: bold;
    line-height: 0.5;
    color: var(--color-blue-200);
    transition: all .3s;
}

.reply p a:hover,
.reply p a:hover::before {
    color: var(--color-blue-500) !important;
    transition: all .3s;
}
/** 

Submissions

**/
.athing .title {
    font-size: 1.2rem;
    font-family: var(--font-family-sans);
}

.athing .title a:hover {
    color: #333;
}

.comhead {
    color: #828282;
}

.athing td {
    margin-bottom: 0.25rem;
}

.title {
    overflow: visible;
}

.title .titleline {
    display: inline-block;
    margin-bottom: 0.25rem;    
}

.title .titleline > a {
    border-radius: 3px;
    color: #333 !important;
    display: inline-block;
    line-height: 1;
    margin-right: 8px;
    overflow: visible;
    text-decoration-color: #999;
}

.title .titleline > a:hover {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
    color: var(--color-blue-500) !important;
    text-decoration: underline;
    text-decoration-color: var(--color-blue-200);
    text-decoration-thickness: 2px;
}

.title .sitebit {
    white-space: nowrap;
    display: inline-block;
}

.title .sitebit,
.subtext .subline {
    font-size: var(--ui-link-font-size);
    color: #6f6f6f;
}/** 

Submission Lists

*/
.rank {
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 0.3em;
}

table:has(> tbody > .athing):not(.fatitem) {
    margin: 2rem auto 4rem !important;
}

table:has(> tbody > .athing):not(.fatitem) .spacer {
    height: 1rem !important;
}/** 

Submission View

*/
.fatitem .votearrow {
    margin-top: -2px;
}

html[op="item"] .toptext {
    color: #555;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.33;
    margin: 3rem 0 4rem;
}

html[op="item"] .toptext a {
    color: var(--color-blue-500);
}/** 

Show HN Listings Page
*
* TODO: Fix major layout issues on https://news.ycombinator.com/shownew. 

*/    
html[op="show"] #hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(2) > td:nth-child(2) {
    /* TODO: Fix this selector. This obviously targets the wrong element. */
    background: #f7eab7;
    padding: 12px 10px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-bottom: solid 20px rgb(246, 246, 239);
}
/** 

User Profile View

*/
html[op="user"] table tbody tr:nth-child(3) a[href^="user?id="] {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

html[op="user"] #hnmain > tbody tr:nth-child(3) > td > table td {
    vertical-align: top;
    padding: 10px;
}

html[op="user"] #hnmain > tbody > tr > td > table td[valign="top"] {
    font-size: 12px;
    text-align: right;
}
/** 

Login Page

**/
a[href="forgot"] {
    color: var(--color-blue-500);
    text-decoration: none;
}

a[href="forgot"]:hover {
    text-decoration: underline;
}/** 

Submit Post Form

*/
.profileform,
form[action="/r"] {
    margin: auto;

    padding: 0 20px 60px 20px;
    max-width: 480px;
}

form[action="/r"]::before {
    content: 'Submit';
    font-size: 36px;
}

form[action="/r"] td {
    display: block;
    width: 100%;
}

form[action="/r"] tr > td:first-child {
    padding-top: 8px;

    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}/** 

User Profile Edit Form

*/
.profileform td {
    font-size: 16px;
}

.profileform::before {
    display: block;
    content: 'User Profile';
    font-size: 36px;
    margin: 0 0 20px 84px;
}

.profileform td {
    padding-bottom: 10px;
}

.profileform tr > td:first-child {
    vertical-align: top;

    padding-top: 6px;
    width: 80px;

    font-size: 12px;
    text-align: right;
    text-transform: capitalize;
}

.profileform textarea {
    display: block;
}

.profileform input[type="submit"] {
    margin-left: 80px;
}/** 

Other
*
* TODO: Identify and sort these.

**/
body > center > table[width="500"] {
    /* These are all the info pages */
}

table[width="500"] td[bgcolor="#fafaf0"] {
    background: none;
}

table[width="500"] img[src="yc500.gif"] {
    border: solid 10px #fff;
    width: 18px;
    padding: 0 18px 0 0;
    background: url(/favicon.ico) no-repeat;
    background-size: contain;
}

/** 

Removed? 
TODO: Track these down or remove them.

*/
body[link="#444444"] {
    margin: auto;

    padding: 20px;
    max-width: 960px;
}

body[link="#444444"] .WordSection1 {
    padding: 40px 40px 20px;
    background: #fff;
}

html[op="x"] #hnmain > tbody > tr:nth-child(3) > td {
    width: 960px;
    display: block;
    margin: auto;
    color: #900;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}