/** 

Other
*
* TODO: Identify and sort these.

**/
body > center > table[width="500"] {
    /* These are all the info pages */
}

table[width="500"] td[bgcolor="#fafaf0"] {
    background: none;
}

table[width="500"] img[src="yc500.gif"] {
    border: solid 10px #fff;
    width: 18px;
    padding: 0 18px 0 0;
    background: url(/favicon.ico) no-repeat;
    background-size: contain;
}

/** 

Removed? 
TODO: Track these down or remove them.

*/
body[link="#444444"] {
    margin: auto;

    padding: 20px;
    max-width: 960px;
}

body[link="#444444"] .WordSection1 {
    padding: 40px 40px 20px;
    background: #fff;
}

html[op="x"] #hnmain > tbody > tr:nth-child(3) > td {
    width: 960px;
    display: block;
    margin: auto;
    color: #900;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}