/*
===============================================================================
Basics
===============================================================================
*/
::selection {
    background: var(--color-yellow-100);
    color: var(--color-yellow-800);
}

html {
    background: var(--footer-background-color);
}

body {
    background: var(--color-beige-100);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans);
    font-size: 16px;
}

td {
    color: var(--reading-copy-color);
    font-family: var(--font-family-sans);
    font-size: var(--reading-copy-size);
}

a:is(:link, :visited, :hover) {
    transition: color,text-decoration-color,text-decoration-thickness 0.3s;

    u {
        text-decoration: none !important;
    }
}

ul {
    padding-left: 2ch;
}
