/*
===============================================================================
Basics
===============================================================================
*/
::selection {
    background: var(--color-yellow-100);
    color: var(--color-yellow-800);
}

html {
    background: var(--footer-background-color);
}

body {
    background: var(--color-beige-100);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans);
    font-size: 16px;
}

td {
    color: var(--reading-copy-color);
    font-family: var(--font-family-sans);
    font-size: var(--reading-copy-size);
}

a:is(:link, :visited, :hover) {
    text-underline-offset: 0.25em;
    text-decoration-skip-ink: none;
    transition: color,text-decoration-color,text-decoration-thickness 0.3s;

    u {
        text-decoration: none !important;
    }
}

ul {
    padding-left: 2ch;
}

pre {
    --shadow-color: var(--color-gray-200);

    background: var(--color-gray-700);
    box-shadow: 2px 2px 0 2px var(--shadow-color);
    border-radius: 8px;
    color: var(--color-blue-100);
    margin: 1.75rem 0;
    overflow: auto;
    padding: 1em 1ch;
    white-space: pre;

    &,
    code {
        font-family: var(--font-family-mono);
    }
}

/* Nesting the hover state does not work. */
pre:hover {
    --shadow-color: var(--color-yellow-200);
    
    background: var(--color-yellow-900);
    color: var(--color-yellow-100);
}
