/*
===============================================================================
Basics
===============================================================================
*/
::selection {
    background: var(--color-yellow-100);
    color: var(--color-yellow-800);
}

html {
    background: var(--footer-background-color);
}

body {
    background: rgb(246, 246, 239);
    padding: 10% 40%;
    margin: 0;
    font-family: var(--font-family-sans);
    font-size: 16px;
}

td {
    font-family: var(--font-family-sans);
}

a {
    transition: all 0.3s;
}