/* 
===============================================================================
Comments

Examples:
- https://news.ycombinator.com/item?id=39560180 (code blocks and links)
===============================================================================
*/

/* Votearrows in the comment context (not all of which are in comment-tree). */
.athing:has(.comment) a .votearrow {
    --size: 20px; 

    margin-inline: 0 0.5ch;
}

.comment-tree {
    --comment-margin-top: 0.5rem; 

    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    border-radius: 5px;
    border-spacing: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    margin-bottom: 40px !important;

    &:not(:has(td)) {
        display: none;
    }

    > tbody > tr {
        > td {
            padding: 0;
        }
        
        &:first-child td {
            padding-top: 0.5rem;
        }
        
        &:last-child td {
            padding-bottom: 2rem;
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* The container surrounding comhead. */
    div:has(.comhead) {
        /* We are overriding inline styling. Gonna need that juice! */
        margin: var(--comment-margin-top) 0 -1rem !important;
        transition: margin-bottom 0.3s;
    }
    
    /* Collapsed comments. */
    .comtr.coll {
        div:has(.comhead) {
            margin-bottom: 0 !important;
            transition: margin-bottom 0.3s;
        }

        .votelinks.nosee {
            filter: saturate(0) brightness(1.75);
            visibility: visible;
            
        }
    }

    /* Votearrows in the comment tree context. */
    a .votearrow {
        margin: var(--comment-margin-top) 1ch 0;
    }
}

/* The comment head with the comment meta. */
.comhead {
    word-spacing: 0.75ch;

    a:link {
        color: var(--ui-link-color);
        font-family: var(--font-family-sans);
        font-size: var(--ui-link-font-size);
        word-spacing: normal;
    
        &:hover {
            color: var(--ui-link-color-hover);
            text-decoration-color: var(--ui-link-underline-color-hover);
            text-underline-offset: 0.1em;
            text-decoration-skip-ink: none;
            text-decoration-thickness: var(--ui-link-underline-thickness-hover);
        }

        &[href^="user"] {
            font-weight: bold;
        }
    }
    
    .navs a.togg {
        display: inline-block;
        font-weight: 900;
        margin-left: 0.5ch;

        &:hover {
            color: var(--ui-link-underline-color-hover) !important;
            text-decoration: none;
        }

        /* Collapsed comments */
        .comtr.coll & {
            color: var(--color-gray-800);
        }
    }
}

/* The comment proper. */
.comment {
    color: var(--reading-copy-color);
    font-size: var(--reading-copy-size);
    font-family: var(--font-family-sans);
    line-height: var(--reading-copy-line-height);
    max-width: var(--reading-copy-width);
    padding: 0.5rem 1.5ch 1rem 0;
    
    &:not(:noshow) {
        display: inline-block;
    }

    &:hover {
        --background: rgb(255 255 255 / 90%);

        background: var(--background);
        box-shadow: -5px 0 0 5px var(--background);
    }

    p {
        margin-top: 1.1em;
    }

    /* .commtext should just be the comment body, excluding the reply link. */
    .commtext a {
        &:link {
            color: var(--content-link-color);
            font-weight: bold;
            text-decoration-color: var(--content-link-underline-color);
            text-decoration-thickness: var(--content-link-underline-thickness);
            text-decoration-skip-ink: none;
            text-underline-offset: 0.15em;
        }

        &:visited {
            color: var(--content-link-color-visited);
            text-decoration-color: var(--content-link-underline-color-visited);
        }
        
        &:is(:link, :visited):hover {
            color: var(--content-link-color-hover);
            text-decoration-color: var(--content-link-underline-color-hover);
            text-decoration-thickness: var(--content-link-underline-thickness-hover);
        }
    }

    pre {
        --shadow-color: var(--color-gray-200);

        background: var(--color-gray-700);
        box-shadow: 2px 2px 0 2px var(--shadow-color);
        border-radius: 8px;
        color: var(--color-blue-100);
        margin: 1.75rem 0;
        overflow: auto;
        padding: 1em 1ch;
        white-space: pre;
    }

    pre:hover {
        --shadow-color: var(--color-yellow-200);
        
        background: var(--color-yellow-900);
        color: var(--color-yellow-100);
    }

    pre,
    code {
        font-family: var(--font-family-mono);
    }

    /* Downvoted comments. */
    .commtext:is(.c5a, .c73, .c82, .c88, .c9c, .cae, .cbe, .cce, .cdd) {
        --border-radius: 5px;
        --border-color: var(--color-orange-800);

        background: rgb(0 0 0 / 2%);
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);
        color: var(--color-orange-800);
        display: block;
        opacity: 0.775;
        padding: 0.25rem 0.75ch 2rem;
        position: relative;

        &::after {
            background: var(--border-color);
            bottom: 0;
            border-radius: var(--border-radius) 0 0;
            color: var(--color-yellow-100);
            content: var(--icon-downvote) ' Downvoted';
            display: inline-block;
            font-size: var(--font-size-xs);
            padding: 0.25rem 0.75ch;
            position: absolute;
            right: 0;
        }
    }

    /* Nesting the hover state not working here. */
    .commtext:is(.c5a, .c73, .c82, .c88, .c9c, .cae, .cbe, .cce, .cdd):hover {
        opacity: 1;
    }
}

/* Reply links. */
.reply p {
    /* Links are wrapped in <u> */
    u {
        text-decoration: none;
    }
    
    a {
        &:link {
            border-radius: 3px;
            color: var(--content-link-color);
            display: inline-block;
            font-size: var(--ui-link-font-size);
            font-weight: bold;
            padding: 0.25em 0.75ch 0.25em 0.5ch;
            text-decoration: none;
            text-transform: capitalize;
        }
        
        &::before {
            color: var(--content-link-underline-color);
            content: var(--icon-right-arrow-hook);
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            line-height: 0.5;
            position: relative;
            top: 0.2em;
            transition: all .3s;
        }

        &:hover {
            background: var(--button-background-color-hover);
            box-shadow: var(--button-box-shadow-hover);
            /* Sometimes, reply links are within .commtext. Let's juice them to be sure. */
            color: var(--button-text-color-hover) !important; 

            &::before {
                color: var(--button-text-color-hover);
            }
        }
    }
}

/* Indentation Lines */
.ind {
    --line-color: rgb(0 0 0 / 5%);
    --line-start: 36px;
    --line-width: 3px;
    --line-end: calc(var(--line-start) + var(--line-width));
    --indent-width: 40px;

    background-image: repeating-linear-gradient(
        to right, 
        transparent, 
        transparent var(--line-start), 
        var(--line-color) var(--line-start), 
        var(--line-color) var(--line-end), 
        transparent var(--line-end),
        transparent var(--indent-width)
    );
}
