/** 

Footer

*/
#hnmain > tbody > tr:has(.yclinks) {
    background: var(--footer-background-color);
    color: #fff;
}

#hnmain > tbody > tr:last-child img[src="s.gif"] + table td {
    background: #666;
    padding-top: 10px;
}

#hnmain > tbody > tr:has(.yclinks) > td {
    padding-bottom: 60px;
}

#hnmain > tbody > tr:has(.yclinks) a {
    color: #fff;
}

#hnmain > tbody > tr:has(.yclinks) form {
    color: #ddd;
    margin: 20px 0;
}

#hnmain > tbody > tr:has(.yclinks) input[name="q"] {
    background: #999;
    border: solid 1px #aaa;
    border-radius: 2px;
    padding: 4px 8px;
    font-family: var(--font-family-sans);
    width: 300px;
}

#hnmain > tbody > tr:has(.yclinks) input[name="q"]:focus,
#hnmain > tbody > tr:has(.yclinks) input[name="q"]:active {
    background: #bbb;
    border: solid 1px #09d1ef;
    box-shadow: none;
    outline: none;
    /* border-color: #fff; */
}