/** 

Form Elements

*/
input[type="text"],
textarea,
select {
    background: #fff;
    font-size: 16px;
    font-family: var(--font-family-sans);
    ;
    border-radius: 3px;
    line-height: 1.5;
}

input[type="text"],
textarea {
    width: 100%;

    padding: 3px 6px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

textarea {
    height: 4.5em;
    margin: 0 0 10px;
}

select:active,
select:focus,
textarea:active,
textarea:focus,
input[type="text"]:active,
input[type="text"]:focus {
    box-shadow: none;
    border-color: var(--color-blue-500);
    outline: none;
}

textarea:active,
textarea:focus {
    height: 12em;
    transition: all 0.3s;
}

textarea + br + br {
    display: none;
}

input[type=submit] {
    background: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--font-family-sans);
    line-height: 1.25;
    padding: 7px 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

input[type=submit]:hover {
    background: var(--button-background-color-hover);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    color: var(--button-text-color-hover);
    transition: all 0.3s;
    transform: scale(1.05);
}