/*
===============================================================================
Form Elements
===============================================================================
*/

input:is([type="text"], [type="url"], [type="password"]),
textarea,
select {
    background: #fff;
    border-radius: 3px;
    font-size: var(--font-size-lg);
    font-family: var(--font-family-sans);
    line-height: 1.5;

    &:is(:focus, :focus-visible) {
        box-shadow: none;
        border-color: var(--color-blue-500);
        outline: 3px solid var(--color-blue-200);
    }
}

input:is([type="text"], [type="url"], [type="password"]),
textarea {
    padding: 0.25em 0.5ch;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    width: 100%;
}

textarea {
    height: 4.5em;
    margin: 0 0 10px;
    max-width: var(--reading-copy-width);

    &:focus {
        height: 12em;
        transition: all 0.3s;
    }
}

textarea + br + br {
    display: none;
}
