/*
===============================================================================
User Profile Edit Form
===============================================================================
*/
.profileform {
    --left-col-width: 14ch;

    font-size: var(--form-label-size);
    margin-inline: auto;
    width: var(--content-width-max);

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* The labels. */
    tr > td:first-child {
        box-sizing: border-box;
        color: var(--form-label-color);
        display: block;
        font-size: var(--form-label-size);
        font-weight: var(--form-label-weight);
        padding-right: 1ch;
        padding-top: 0.5rem;
        text-transform: capitalize;
        width: var(--left-col-width);
    }

    /* The 2nd and 3rd rows don't have fields or extra line-height to add vertical padding. */
    tbody tr:is(:nth-child(2), :nth-child(3)) td:last-child {
        padding-top: 0.5rem;
    }

    td:has(> textarea[name="about"]) {
        /* Overriding inline style. Got juice? */
        overflow: visible !important;
        padding-bottom: 2rem;
    }

    textarea {
        margin-bottom: 0;
    }

    /* Helptext about "About". */
    a[href="formatdoc"] {
        /* Color and size are already set by User Profile view. Time to bust out the juice! */
        color: var(--color-blue-500) !important;
        font-size: var(--form-helptext-size) !important;
        text-transform: capitalize;

        &:hover {
            color: var(--color-blue-700) !important;
            text-decoration: underline;
        }

        font {
            /* Color and size are set inline. Hope you brought some extra juice! */
            font-size: inherit !important;
            color: inherit !important;
        }
    }

    /* Helptext about email. */
    tr:has(> td > font[size="2"]) {
        td {
            padding: 0;
        }

        font {
            color: var(--form-helptext-color);
            font-size: var(--form-helptext-size);
        }
    }


    input[type="submit"] {
        margin-left: var(--left-col-width);
    }
}
