/*
===============================================================================
Header

Includes the standard header and logo-only headers found on a few pages.
===============================================================================
*/

/* The outermost Header element. */
#hnmain > tbody > tr:first-child td[bgcolor="#ff6600"] {
    background: var(--color-orange-600) !important;
    border-bottom: solid var(--header-border-size) var(--header-border-color);

    td:has(.pagetop) {
        vertical-align: middle;
    }
}

/* General settings for text and links in the header.  */
.pagetop {
    /* The only useful header text that isn't links is the karma score. */
    color: transparent;
    font-family: var(--font-family-sans);

    @media (max-width: 750px) and (min-width: 300px) {
        margin: 0;
    }

    a,
    a:visited {
        --underline-color: rgba(255 255 255 / 50%);
    
        color: #fff;
        color: rgba(255, 255, 255, 1);
        margin-left: 1ch;
        text-decoration-color: var(--underline-color);
        transition: all 0.25s;

        &:hover {
            color: #fff;
            text-decoration: underline;
            text-decoration-color: var(--underline-color);
            text-decoration-thickness: 3px;
            transition: all 0.25s;
        }
    }
}

/* The YC logo and site name, together forming the Site ID. */
tr:has(> td > .pagetop .hnname) {
    a[href="https://news.ycombinator.com"]:has(img) {
        display: block;
        position: relative;
        top: -1px;

        img {
            box-sizing: border-box;
            background-size: contain;
            overflow: hidden;
            transform: scale(2);
            transition: transform 0.3s;
        }

        &:hover img {
            filter: hue-rotate(-180deg);
            transform: scale(2.3);
            transition: transform 0.2s;
        }
    }

    .hnname {
        display: inline-block;
        margin: 0 20px 0 5px;
        font-size: var(--font-size-lg);
    }
}

/* The Main Nav */
.pagetop {
    &:has(.hnname) a {
        font-weight: bold;
        text-transform: capitalize;
    }

    a[href="newest"] {
        position: relative;

        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            right: -1.25ch;
            top: 50%;
            transform: rotate(180deg);
            transition: all 0.3s;
        }

        &:hover::after {
            content: var(--icon-new-indicator);
            opacity: 1;
            top: -0.25em;
            transform: rotate(0deg);
            transition: all 0.3s;
        }
    }

    a[href="submit"] {
        background: var(--button-background-color);
        border-radius: 3px;
        display: inline-block;
        margin-left: 2ch;
        padding: 0.5em 0.75em;
        scale: 1.2; /* Using scale as to not influence the total height of header */
        text-decoration: none;
        transition: all 0.3s;

        &::before {
            content: '⊕';
            display: inline-block;
            font-weight: normal;
            margin-right: 0.5ch;
            opacity: 0.75;
            scale: 1.3;
        }

        &:hover {
            background: var(--button-background-color-hover);
            box-shadow: var(--button-box-shadow-hover);
            text-decoration: none;
            scale: 1.3;

            &::before {
                opacity: 1;
                transition: all 0.3s;
            }
        }
    }

    /* This is the page title on a smattering of pages, like a user's upvoted submissions. */
    font[color="#ffffff"] {
        display: none;
    }
}

/* The User Login/Logout Area */
.pagetop:has(#logout, a[href^="login"]) {
    align-items: center; 
    display: flex;
    justify-content: flex-end;

    /* The Karma: turn it into a "badge"  */
    #karma {
        align-items: center;
        background-color: rgba(255 255 255 / 95%);
        border-radius: 1em;
        color: var(--color-blue-800);
        display: flex;
        justify-content: center;
        height: 2ch;
        letter-spacing: 1px;
        line-height: 1;
        min-width: 2ch;
        padding: 0.1em;
    }

    /* Login/Logout Button */
    a[href^="login"],
    #logout {
        border: solid 1px #fff;
        display: inline-block;
        text-transform: uppercase;
        padding: 0.25em 0.5em;
        border-radius: 3px;

        &:hover {
            background: #fff;
            color: var(--color-orange-700) !important;
            text-decoration: none;
        }
    }
}

/* Logo-only headers on these pages. */
html:is([op="formatdoc"], [op="submit"], [op="delete-confirm"]) {
    a[href="https://news.ycombinator.com"] {
        display: inline-block;
        transition: scale 0.3s; 
        
        img {
            background: #fff;
            border: solid 2px #fff !important;
            height: 32px;
            width: 32px;
        }
        
        &:hover {
            scale: 1.1;
            filter: hue-rotate(180deg);
            transition: scale 0.3s;
        }
    }
}
