/** 

Header

*/
.pagetop {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--font-family-sans);
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
    span.pagetop {
        margin: 0;
    }
}

#hnmain > tbody > tr:first-child td[bgcolor="#ff6600"] {
    background: var(--color-orange-700) !important;
    border-bottom: solid var(--header-border-size) var(--header-border-color);
}

#hnmain > tbody > tr:first-child td[bgcolor="#ff6600"] td:has(.pagetop) {
    vertical-align: middle;
}

a[href="https://news.ycombinator.com"]:has(img) {
    display: block;
    position: relative;
    top: -1px;
}

body:not([bgcolor="#ffffff"]) a[href="https://news.ycombinator.com"] img {
    box-sizing: border-box;
    background: url(/favicon.ico) no-repeat;
    background-size: contain;
    overflow: hidden;
    padding: 0 16px 0 0;
    width: 18px;
    margin-right: 10px;
    transform: scale(2);
}

a[href="https://news.ycombinator.com"]:hover img {
    filter: hue-rotate(-180deg);
    transform: scale(2.3);

}

.pagetop .hnname {
    display: inline-block;
    margin: 0 20px 0 5px;
    font-size: 16px;
}

.pagetop a,
.pagetop .hnname a,
.pagetop a:visited,
.pagetop .hnname a:visited {
    --underline-color: rgba(255 255 255 / 50%);
    
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: var(--underline-color);
    transition: all 0.25s;
}

.pagetop a:hover,
.pagetop .hnname a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--underline-color);
    text-decoration-thickness: 3px;
    transition: all 0.25s;
}

.pagetop:has(.hnname) a {
    font-weight: bold;
    text-transform: capitalize;
}

.pagetop a[href="newest"] {
    font-style: italic;
}

.pagetop:has(#logout) {
    align-items: center; 
    color: transparent;
    display: flex;
    justify-content: flex-end;
}

.pagetop #karma {
    align-items: center;
    background-color: rgba(255 255 255 / 95%);
    border-radius: 1em;
    color: var(--color-orange-700);
    display: flex;
    justify-content: center;
    height: 2ch;
    letter-spacing: 1px;
    line-height: 1;
    min-width: 2ch;
    padding: 0.1em;
}

.pagetop a[href^="login"],
.pagetop #logout {
    border: solid 1px #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 3px;
}

.pagetop a[href^="login"]:hover,
.pagetop #logout:hover {
    background: #fff;
    color: var(--color-orange-700) !important;
    text-decoration: none;
}