/* 
===============================================================================
Layout
===============================================================================
*/
#hnmain {
    width: 100%;
}

/* If there is no footer, add a bottom border for a smoother transition. */
#hnmain:not(:has(.yclinks)) {
    border-bottom: solid 10px #888;
}

#hnmain > tbody > tr:first-child > td {
    padding: 20px;
}

#hnmain > tbody > tr:first-child > td table td {
    vertical-align: top;
}

#hnmain > tbody > tr:nth-child(2) {
    height: 30px !important;
}

#hnmain > tbody > tr:nth-child(3) > td > table {
    max-width: 960px;
    margin: auto
}

@media (min-width: 960px) {
    #hnmain > tbody > tr:nth-child(3) > td > table {
        width: 960px;
    }

}