/* 
===============================================================================
Layout
===============================================================================
*/
#hnmain {
    width: 100%;

    /* If there is no footer, add a bottom border for a smoother transition. */
    &:not(:has(.yclinks)) {
        border-bottom: solid 10px var(--color-gray-300);
    }

    /* Main Content. */
    /* This is _usually_ the main content well. */ 
    > tbody > tr:nth-child(3) > td > table, 
    /* On threads, each comment has a table that can act as the main content well.  */
    html[op="threads"] & .comtr table,
    /* On reply, there is an empty 3rd `tr`. */
    html[op="threads"] & .fatitem {
        max-width: var(--content-width-max);
        margin-inline: auto;

        @media (min-width: 960px) {
            width: var(--content-width-max);
        }
    }
}
