/** 

Submission Lists

*/
.rank {
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 0.3em;
}

table:has(> tbody > .athing):not(.fatitem) {
    margin: 2rem auto 4rem !important;
}

table:has(> tbody > .athing):not(.fatitem) .spacer {
    height: 1rem !important;
}

html[op=news] .athing .votearrow,
html[op=newest] .athing .votearrow,
html[op=front] .athing .votearrow {
    margin: -1px 16px 0 10px;
}
