/* 
=============================================================================== 
Submission Lists

List of submissions in general and page-specific fixes.
=============================================================================== 
*/

/* The table/list of submissions */
table:has(> tbody > .athing > .title > .rank) {
    margin-block: 2rem var(--content-margin-bottom) !important;
    
    .votelinks {
        padding: 0 0.5rem 0 0;
        text-align: center;

        center {
            margin: auto;
            width: max-content;
        }

        &:has(a[href*="&how=down"]) {
            a[href*="&how=down"] {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            
            a[href*="&how=down"] {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .spacer {
        height: 1.5rem !important;
    }
}

/* The first row of a submission within a list (only lists have ranks). */
.athing:has(> .title > .rank) {
    .title {
        position: relative;
    }

    .rank {
        display: inline-block;
        font-size: 0.9rem;
        left: -4ch;
        margin-top: 0.3em;
        opacity: 0;
        position: absolute;
        text-align: right;
        transition: all 0.3s;
        width: 3ch;
    }
    
    &:has(:hover,:active,:focus,:focus-visible) .rank {
        opacity: 1;
        transition: all 0.2s;
    }
}

html[op="upvoted"] {
    .votelinks {
        padding: 0 !important;
        width: 0;
    }

    .nosee {
        display: none;
    }

    .rank {
        opacity: 1 !important;
    }
}

