/* 
===============================================================================
Submissions

Common styles for Submissions in both list views and item views.

Submissions are split into two table rows: .title and .subtext 
===============================================================================
*/

/* When viewing your own posts (and comments), the votearrows are just asterisks. */
.votelinks font[color="#ff6600"] {
    font-weight: bold;
    scale: 1.5;
    display: inline-block;
    margin-inline: 1ch;
    position: relative;
    top: 0.5em;
    width: 20px;
}

.title {
    font-family: var(--font-family-sans);
    overflow: visible;
    
    .titleline {
        display: inline-block;
        margin-bottom: 0.5rem;  
        
        /* The submission title. */
        > a {
            border-radius: 3px;
            color: #333 !important;
            display: inline-block;
            font-size: var(--font-size-xl);
            line-height: 1.2;
            margin-right: 8px;
            overflow: visible;
            text-decoration-color: #999;
            
            &:hover {
                background: #fff;
                box-shadow: 0 0 0 5px #fff;
                color: var(--color-blue-600) !important;
                text-decoration: underline;
                text-decoration-color: var(--color-blue-200);
                text-decoration-thickness: 4px;
                text-underline-offset: 0.2em;
            }
        }
    
        .sitebit {
            color: #6f6f6f;
            display: inline-block;
            font-size: var(--ui-link-font-size);
            white-space: nowrap;
        }
    }
}

.subtext {
    --icon-size: 24px;
    --text-color: var(--ui-link-color); 

    color: transparent; /* Hide the text */
    font-family: var(--font-family-sans);

    .subline {
        display: flex;
        align-items: center;
    }
    
    :is(.score, a) {
        color: var(--text-color);
        font-size: var(--ui-link-font-size);
        font-family: var(--font-family-sans);
    }

    .score {
        line-height: 1.8;
        margin-top: -0.15em;
    }

    a {
        color: var(--ui-link-color);
        font-family: var(--font-family-sans);
        font-size: var(--ui-link-font-size);
    
        &:hover {
            color: var(--ui-link-color-hover);
            text-decoration-color: var(--ui-link-underline-color-hover);
            text-decoration-thickness: var(--ui-link-underline-thickness-hover);
        }

        /* Set up the icons */
        &::before {
            color: var(--ui-link-icon-color);
            display: inline-block;
            font-size: var(--icon-size);
            height: var(--icon-size);
            line-height: 1;
            margin-right: 0.1ch;
            text-align: center;
            vertical-align: middle;
            width: var(--icon-size);
        }

        &:hover::before {
            color: var(--ui-link-icon-color-hover);
        }
    }

    /* The user link. */
    a.hnuser {
        font-weight: bold;
        margin-left: -0.3ch;

        &::before {
            content: var(--icon-user);
            line-height: 0.925;
        }
    }

    /* This is the comments and the age. */
    a[href^="item"] {   
        margin-left: 0;

        &::before {
            content: var(--icon-comment);
            line-height: 0.75;
            scale: 1.1 1.25;
            text-align: right;
            margin-right: 0.25ch;
        }
    }

    /* Override properties for just the age. */
    .age {
        /* Normal submissions the age follows the user. */
        .hnuser + & {
            margin-left: 1.6ch;
        }

        a {
            margin-left: 0;

            &::before {
                content: var(--icon-clock);
                line-height: 0.75;
                scale: 1;
                margin-right: 0.1ch;
            }
            
        }
    }

    /* The Unvote link */
    span:has(> a[href^="vote"]) {
        order: 5;
        margin-left: 1ch; 

        a::before {
            content: var(--icon-unvote);
            line-height: 0.9;
            scale: 0.875;
        }
    }

    /* The Hide/Un-hide Links */
    a[href^="hide"] {
        margin-left: 1.3ch;
        order: 8;

        /* Submissions with no user/discussion. */
        .age + & {
            margin-left: 0;
        }

        &::before {
            content: var(--icon-circle-division-slash);
            line-height: 0.775;
        }

        /* The un-hide link */ 
        &[href*="&un=t"]{
            &::before {
                content: var(--icon-circle-plus);
                line-height: 0.95;
            }
        }
    }

    /* The search past postings link */
    a.hnpast {
        order: 9;
        margin-left: 1.5ch;

        &::before {
            content: var(--icon-left-arrow-hook);
            line-height: 1.2;
        }
    }

    /* The Favorite/Un-Favorite Links */
    a[href^="fave"] {
        margin-left: 1.2ch;
        order: 7;

        &::before {
            content: var(--icon-heart-outline);

        }

        &:hover::before {
            content: var(--icon-heart-solid);
        }

        /* The un-favorite link */ 
        &[href*="&un=t"] {
            &::before {
                content: var(--icon-heart-solid);
            }

            &:hover::before {
                content: var(--icon-heart-outline);
            }
        }
    }

    /* The Edit Link */
    a[href^="edit"] {
        margin-left: 1.75ch;
        order: 10;

        &::before {
            content: var(--icon-hexnut);
            line-height: 0.7;
        }
    }
    
    /* The Delete Link */
    a[href^="delete"] {
        margin-left: 1.75ch;
        order: 11;


        &::before {
            content: var(--icon-circle-x);
            line-height: 0.9;
        }
    }
}

/* The username link. New users are green. */
a[href^="user?id"] font[color="#3c963c"]::after {
    content: var(--icon-new-indicator);
    display: inline-block;
    left: -0.1ch;
    position: relative;
    scale: 1.1;
    top: -0.35em;
}
