/* 
=============================================================================== 
Submission Lists
=============================================================================== 
*/

/* The table/list of submissions */
table:has(> tbody > .athing > .title > .rank) {
    margin: 2rem auto 4rem !important;
    
    .votelinks {
        padding: 0 0.5rem;
    }

    .spacer {
        height: 1.5rem !important;
    }
}

/* The first row of a submission within a list (only lists have ranks). */
.athing:has(> .title > .rank) {
    .rank {
        display: inline-block;
        font-size: 0.9rem;
        margin-top: 0.3em;
        opacity: 0;
        transition: all 0.3s;
    }
    
    &:has(:hover,:active,:focus,:focus-visible) .rank {
        opacity: 1;
        transition: all 0.2s;
    }
}

html[op="upvoted"] {
    .votelinks {
        padding: 0 !important;
        width: 0;
    }

    .nosee {
        display: none;
    }

    .rank {
        opacity: 1 !important;
    }
}
