/* 
===============================================================================
UI Links

These are the links under a submission and in the meta of a comment.
===============================================================================
*/
.subtext a:link,
.comhead a:link {
    color: var(--ui-link-color);
    font-family: var(--font-family-sans);
    font-size: var(--ui-link-font-size);

    &:hover {
        color: #000;
        text-decoration-color: var(--color-blue-500);
        text-decoration-thickness: 2px;
    }
}
