/*
===============================================================================
User Profile View
===============================================================================
*/
html[op="user"] tbody:has(> .athing) {
    tr > td:first-child {
        text-transform: capitalize;
    }

    td {
        font-size: var(--reading-copy-size);
        padding-bottom: 1rem;
        text-align: left;
    }


    a {
        color: var(--ui-link-color);
        font-family: var(--font-family-sans);
        font-size: var(--reading-copy-size);
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-decoration-thickness: var(--ui-link-underline-thickness);
    
        &:hover {
            color: var(--ui-link-color-hover);
            text-decoration-color: var(--ui-link-underline-color-hover);
            text-underline-offset: 0.1em;
            text-decoration-skip-ink: none;
            text-decoration-thickness: var(--ui-link-underline-thickness-hover);
        }
    }

    .hnuser {
        font-size: var(--font-size-xl);
        font-weight: bold;
    }

}
