/* 
===============================================================================
Submission View

Example with submission text:
https://news.ycombinator.com/item?id=39562984

===============================================================================
*/
.fatitem .votearrow {
    margin-top: -2px;
}

html[op="item"] .toptext {
    color: #555;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.33;
    margin: 3rem 0 4rem;
}

html[op="item"] .toptext a {
    color: var(--color-blue-500);
}

.fatitem .subtext {
    /* All of the submission action links we are converting to icon only. */
    a:is([href^="hide"], [href^="fave"], .hnpast) {;
        display: inline-block;
        font-size: 0 !important;
        height: var(--icon-size);
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: var(--icon-size);

        &::before {
            color: var(--ui-icon-action-color)
        }

        &::after {
            background: rgb(0 0 0);
            border-radius: 3px;
            color: #fff;
            display: none;
            font-size: var(--font-size-xs) !important;
            left: 100%;
            padding: 0.25em 0.5em;
            position: absolute;
            top: calc(var(--icon-size) * 0.67);
            z-index: 100;
        }

        &:is(:hover,:active,:focus) {
            text-decoration: none;
            
            &::before {
                color: var(--ui-icon-action-color-hover);
            }

            &::after {
                display: block;
            }
        }
    }

    /* This is the comments and the age links. */
    a[href^="item"] {
        margin-left: -0.5ch;
    }

    /* Override properties for the age. */
    .age a {
        margin-left: 0;
    }

    /* The Hide/Un-hide Links */
    a[href^="hide"] {
        margin-left: 5px;

        &::after {
            content: 'Hide';
        }

        /* The un-hide link */ 
        &[href*="&un=t"]::after {
            content: 'Un-hide';
        }
    }

    /* The Favorite/Un-Favorite Links */
    a[href^="fave"] {
        margin-left: 12px;
        order: 7;

        &::before {
            content: '♡';

        }

        &::after {
            content: 'Favorite';
        }

        &:hover::before {
            content: '♥';
        }

        /* The un-favorite link */ 
        &[href*="&un=t"] {
            &::before {
                content: '♥';
            }

            &:hover::before {
                content: '♡';
            }

            &::after {
                content: 'Un-favorite';
            }
        }
    }

    /* The search past postings link */
    a.hnpast {
        order: 9;
        margin-left: 5px;

        &::before {
            content: '↩';
            line-height: 1.2;
        }

        &::after {
            content: 'Past submissions';
        }
    }
}
