/** 

Show HN Listings Page
*
* TODO: Fix major layout issues on https://news.ycombinator.com/shownew. 

*/    
html[op="show"] #hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(2) > td:nth-child(2) {
    /* TODO: Fix this selector. This obviously targets the wrong element. */
    background: #f7eab7;
    padding: 12px 10px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-bottom: solid 20px rgb(246, 246, 239);
}
