/** 

User Profile View

*/
html[op="user"] table tbody tr:nth-child(3) a[href^="user?id="] {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

html[op="user"] #hnmain > tbody tr:nth-child(3) > td > table td {
    vertical-align: top;
    padding: 10px;
}

html[op="user"] #hnmain > tbody > tr > td > table td[valign="top"] {
    font-size: 12px;
    text-align: right;
}
