/* 
===============================================================================
Formatting Options Page

This page does not conform to the markup of standard info pages.

https://news.ycombinator.com/formatdoc 
===============================================================================
*/

html[op="formatdoc"] {
    .admin {
        center {
            text-align: left;
            margin-inline: auto;
            max-width: var(--content-width-max);
        }
    
        table {
            max-width: var(--reading-copy-width);
            width: auto;
    
            td {
                color: var(--reading-copy-color);
                font-family: var(--font-family-sans);
                font-size: var(--reading-copy-size);
            }
        }
    }
}

