/* 
===============================================================================
Formatting Options Page

This page does not conform to the markup of standard info pages.

https://news.ycombinator.com/formatdoc 
===============================================================================
*/

html[op="formatdoc"] {
    a[href="https://news.ycombinator.com"] {
        display: inline-block;
        transition: scale 0.3s; 
        
        img {
            background: #fff;
            border: solid 2px #fff !important;
            height: 32px;
            width: 32px;
        }
        
        &:hover {
            scale: 1.1;
            filter: hue-rotate(180deg);
            transition: scale 0.3s;
        }
    }

    .admin {
        center {
            text-align: left;
            margin-inline: auto;
            max-width: var(--content-width-max);
        }
    
        table {
            max-width: var(--reading-copy-width);
            width: auto;
    
            td {
                color: var(--reading-copy-color);
                font-family: var(--font-family-sans);
                font-size: var(--reading-copy-size);
            }
        }
    }
}

