/* 
===============================================================================
Submission View

Example with submission text:
https://news.ycombinator.com/item?id=39562984

===============================================================================
*/

/* fatitem is a table that contains the submission and the comment form. */
html[op="item"] .fatitem {
    /* Fix some issues with votearrow spacing. */
    .votelinks {
        /* The selector that originally sets this has to be _very_ specific. Juice it! */
        padding: 0 !important;    
        
        center {
            text-align: left;
        }
    }

    /* The submission action links. */
    .subtext {
        /* All of the submission action links we are converting to icon only. */
        a:is([href^="hide"], [href^="fave"], .hnpast, [href^="edit"], [href^="delete"], [href^="vote"]) {;
            display: inline-block;
            font-size: 0 !important;
            height: var(--icon-size);
            position: relative;
            vertical-align: middle;
            white-space: nowrap;
            width: var(--icon-size);

            &::before {
                color: var(--ui-icon-action-color)
            }

            &::after {
                background: rgb(0 0 0);
                border-radius: 3px;
                color: #fff;
                display: none;
                font-size: var(--font-size-xs) !important;
                left: 100%;
                padding: 0.25em 0.5em;
                position: absolute;
                top: calc(var(--icon-size) * 0.67);
                z-index: 100;
            }

            &:is(:hover,:active,:focus) {
                text-decoration: none;
                
                &::before {
                    color: var(--ui-icon-action-color-hover);
                }

                &::after {
                    display: block;
                }
            }
        }

        /* This is the comments and the age links. */
        a[href^="item"] {
            margin-left: -0.5ch;
        }

        /* Override properties for the age. */
        .age a {
            margin-left: 0;
        }

        /* The Hide/Un-hide Links */
        a[href^="hide"] {
            margin-left: 5px;

            &::after {
                content: 'Hide';
            }

            /* The un-hide link */ 
            &[href*="&un=t"]::after {
                content: 'Un-hide';
            }
        }

        /* The Unvote link */
        span:has(> a[href^="vote"]) {
            margin-right: -6px;
            
            a::after {
                content: 'Unvote';
            }
        }

        /* The Favorite/Un-Favorite Links */
        a[href^="fave"] {
            margin-left: 12px;
            order: 7;

            &::after {
                content: 'Favorite';
            }

            /* The un-favorite link */ 
            &[href*="&un=t"]::after {
                content: 'Un-favorite';
            }
        }

        /* The search past postings link */
        a.hnpast {
            margin-left: 5px;

            &::after {
                content: 'Past submissions';
            }
        }

        /* The edit link */
        a[href^="edit"] {
            margin-left: 20px;
            
            &::before {
                line-height: 0.775;
            }

            &::after {
                content: 'Edit';
            }
        }

        /* The delete link */
        a[href^="delete"] {
            margin-left: 5px;
           
            &::before {
                line-height: 1;
            }

            &::after {
                content: 'Delete';
            }
        }
    }

    /* This is the submission content, the "post" if you will. Implements reading copy. */
    .toptext {
        color: var(--reading-copy-color);
        font-size: var(--reading-copy-size);
        font-family: var(--font-family-sans);
        line-height: var(--reading-copy-line-height);
        max-width: var(--reading-copy-width);
        margin: 2rem 0;
    }

    /* The comment form, of course . */
    form[action="comment"] {
        border-top: solid var(--hr-size) rgb(0 0 0 / 5%);
        color: var(--color-gray-400);
        display: flex;
        flex-direction: column;
        font-size: var(--reading-copy-size);
        margin-top: 1.5rem;
        max-width: var(--reading-copy-width);
        padding-top: 1.5rem;

        &::before {
            content: 'Join the conversation!';
            display: block;
            font-size: var(--font-size-lg);
            margin-bottom: 1rem;
            order: 0;
        }

        &::after {
            content: 'Formatting options: https://news.ycombinator.com/formatdoc';
            cursor: not-allowed;
            display: block;
            font-size: var(--font-size-xs);
            margin-bottom: 0.5rem;
            order: 1;
        }

        textarea {
            margin-bottom: 1rem;
            order: 2;
        }

        input[type="submit"] {
            order: 3;
            width: max-content;
        }
    }

    /* The comment form when there are no comments. */
    &:has(~ .comment-tree:not(:has(td))) form[action="comment"]::before {
        content: 'Be the first to comment!';
    }
}



