/*
===============================================================================  
Vote Arrows

This is common styles for all votearrows. Contextual changes should be made in
their respective context file (submission-lists, comments, etc.)
=============================================================================== 
*/
a:has(.votearrow) {
    align-items: center;
    background: var(--votearrow-background-color);
    border: solid var(--votearrow-border-size) var(--votearrow-border-color);
    border-radius: 3px;
    color: var(--votearrow-arrow-color);
    display: flex;
    height: var(--votearrow-size);
    justify-content: center;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s;
    width: var(--votearrow-size);
    
    .votearrow {
        background-image: none;
        height: 100%;
        width: 100%;

        &::before {
            box-sizing: border-box;
            content: var(--icon-votearrow);
            display: inline-block;
            font-family: sans-serif;
            font-size: calc(1.25 * var(--votearrow-size));
            height: 100%;
            line-height: 0.55;
            padding: calc(0.25 * var(--votearrow-size)) 0 0;
            text-align: center;
            width: 100%;
        }

        /* Downvote arrows have a utility class to flip them. */
        &.rotate180::before {
            line-height: 0.3;
        }
    }

    &:hover {
        color: var(--votearrow-arrow-color-hover);
        background: var(--votearrow-background-color-hover);
        border-color: var(--votearrow-border-color-hover);
        transform: scale(1.05);
        box-shadow: var(--button-box-shadow-hover);
        transition: all 0.3s;
    }

    /* These are voted submissions and comments. */
    &.clicky.nosee {
        visibility: visible;
        
        &:is([href*="&how=up"]) {
            --votearrow-arrow-color: var(--votearrow-arrow-color-upvoted);
            --votearrow-background-color: var(--votearrow-background-color-upvoted);
        }

        &:is([href*="&how=down"]) {
            --votearrow-arrow-color: var(--votearrow-arrow-color-downvoted);
            --votearrow-background-color: var(--votearrow-background-color-downvoted);
        }
    }
}

.votelinks:has(a[href*="&how=down"]) {
    a[href*="&how=up"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    a[href*="&how=down"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
